---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="watermark">UNDER CONSTRUCTION</div>
		<Header />
		<main>
			<!--  <h1>Welcome to <span class="text-gradient">myBenchNotes!</span></h1> -->
			<p>
				Placeholder...
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
